* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/assets/bg04.jpg);
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif;
}

body header {
  background-image: url(/assets/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 45px;
}

body header .logo {
  width: 10%;
  height: 100%;
  text-align: center;
  margin: auto;
}

body header .logo .company-logo {
  width: auto;
  height: 90%;
}

body header .title {
  width: 80%;
  height: auto;
  text-align: center;
  margin: auto;
}

body header .signin {
  width: 5%;
  height: 25px;
  text-align: center;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #16E2FF;
  border: solid #337FED 1px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

body .login {
  width: 5%;
  height: 25px;
  text-align: center;
  margin: auto;
  margin-left: 10px;
  margin-right: 15px;
  background-color: #4b8ff5;
  border: solid #FFFFFF 1px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

body .login :hover {
  background-color: #1220F5;
}

body .nav {
  background-color: #88C022;
  width: auto;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20%;
  padding-left: 20%;
}

body .nav .nav-box {
  width: 20%;
  margin: auto;
  text-align: center;
}

body .nav .nav-box a {
  text-decoration: none;
  color: black;
}

body .nav .nav-box a :hover {
  background-color: #b3e25c;
  padding: 5px 10px;
}

body #id01 {
  display: none;
}

body #id01 input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #id01 input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #id01 .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

body #id01 img.avatar {
  width: 20%;
  border-radius: 50%;
}

body #id01 .box01 {
  padding: 16px;
}

body #id01 span.psw {
  float: right;
  padding-top: 16px;
}

body #id01 .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

body #id01 .modal-content {
  background-color: lavender;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

body #id01 .close {
  position: absolute;
  cursor: pointer;
  right: 25px;
  top: 0;
  color: red;
  font-size: 35px;
  font-weight: bold;
}

body #id01 .close :hover {
  color: red;
}

body #id01 .close :focus {
  color: red;
}

body #id01 .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body .container {
  background-image: url(/assets/bg03.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

body .container .section {
  background-color: #dfecbb;
  width: 1000px;
  height: 280px;
  margin: 50px auto;
}

body .container .section .text {
  margin: 25px;
}

body footer {
  background-color: steelblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 200px;
}

body footer .contact {
  background-color: #6fb0e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  width: 15%;
}

body footer .social {
  background-color: #6fb0e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  padding: 50px;
  width: 15%;
}
/*# sourceMappingURL=stay-green.css.map */