* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/wood.jpg);
    background-repeat: repeat;

    font-family: 'Montserrat', sans-serif;

    header {
        background-image: url(/assets/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: row;
        

        width: 100%;
        height: 45px;
        

        .logo {
            width: 10%;
            height: 100%;
            text-align: center;

            margin: auto;

            .company-logo {
                width: auto;
                height: 90%;

            }
        }
        .title {
            width: 80%;
            height: auto;
            text-align: center;
            margin: auto;
        }

        .signin {
            width: 5%;
            height: auto;
            text-align: center;
            margin: auto;
            margin-left: 5px;
            margin-right: 5px;
            

        }

        .login {
            width: 5%;
            height: auto;
            text-align: center;
            margin: auto;
            margin-left: 10px;
            margin-right: 15px;
        }
        
    }

    .nav {
        background-color: #88C022;

        width: auto;
        height: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-right: 20%;
        padding-left: 20%;

    }

    .container {
        background-image: url(/assets/bg03.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;

        margin: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        padding-top: 50px;

     .bullet-points{
        
        background-color: rgba(235, 190, 211, 0.774); 
        padding:20px;  
        margin: 90px;
    }
        h1,h3{
        color: rgb(45, 21, 180);
        text-align:center;
     
    }
    p{
        font-weight: 400;

    }
    .workshop{
        text-align:center;
        .workshop-image{
            display:flex;
            justify-self: center;
            margin:0 auto;
            padding-right:200px;
            width:50%;
            height:25%;
    }
    }
    .top-left {
        color:rgba(0, 0, 255, 0.452);
        text-align: center;
        position: absolute;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top: 250px;
        left:400px;
        padding-top:15px;
        
    } 

   .bottom{
    position: absolute;
    top: 1050px;
        .date{
        width: 880px;
        padding-top: 10%;
        justify-content: center;
        font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }


   }    
}           

    footer {
        background-color: steelblue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        height: 200px;
        .contact {
            background-color: rgb(111, 176, 230);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: 50px;
            
            width: 15%;

        }

        .social {
            background-color: rgb(111, 176, 230);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: right;

            padding: 50px;
            
            width: 15%;
            

        }
    }
}